<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright  &copy; Book Store @DateTime.Now.Year
        @*<a href="mailto:nitish.webgentle@gmail.com">nitish.webgentle@gmail.com</a>
        *@
        @*<cutom-email my-email="nitish@webgentle.com"></cutom-email>*@
    </div>
</footer>