
@{
    Layout = null;
}

<!DOCTYPE html>

<html>  
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body>

    <img src="~/images/logo.png" class="logo" alt="logo" />

    <img src="~/MyStaticFiles/dummy.png" alt="dummy" />

    <h1>Welcome to book store application</h1>
    <p>This is the home page of our book store application</p>
</body>
</html>
