
@{
    Layout = null;
}

<!DOCTYPE html>

<html>  
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body class="container">

    <img src="~/images/logo.png" class="logo" alt="logo" />

    <input type="button" value="Click me" class="btn btn-danger" />

    <h1 class="h1">Welcome to book store application</h1>
    <p>This is the home page of our book store application</p>
</body>

<script src="~/lib/jquery/jquery.js"></script>

</html>

<script>
    $(document).ready(function () {
        alert("Page loaded");
    });
</script>
