@model Webgentle.BookStore.Models.ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
}
<div class="container">

    <h1 class="display-4 text-center">Change password</h1>

    <hr />
    <div class="row">

        <div class="col-md-4 offset-4">
            @if (ViewBag.IsSuccess == true)
            {
            <div class="alert alert-success" role="alert">
                Password has been updated successfully
            </div>
            }
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmNewPassword" class="control-label"></label>
                    <input asp-for="ConfirmNewPassword" class="form-control" />
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Change password" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>