@model Webgentle.BookStore.Models.ResetPasswordModel

@{
    ViewData["Title"] = "ResetPassword";
}
<div class="container">

    <h1 class="display-4">Reset password</h1>

    <hr />
    <div class="row">
        <div class="offset-4 col-md-4">
            @if (Model?.IsSuccess == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>
                       You have updated your password successfully.
                    </p>
                </div>
            }
            else
            {
                <form asp-action="ResetPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UserId" class="form-control" />
                    <input type="hidden" asp-for="Token" class="form-control" />
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmNewPassword" class="control-label"></label>
                        <input asp-for="ConfirmNewPassword" class="form-control" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Reset password" class="btn btn-primary" />
                    </div>
                </form>
            }

        </div>
    </div>

</div>